html
{
	font-size: 20px;
}

body
{
	padding-top: 90px;
	font-family: "Font-Regular";
}

h1
{
	font-size: 2.25rem;
}

h2
{
	font-size: 2rem;
}

h3
{
	font-size: 1.75rem;
}

h4
{
	font-size: 1.5rem;
}

h5
{
	font-size: 1.25rem;
}

h6
{
	font-size: 1rem;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill
{
	font-size: inherit;
}

input[type="submit"], button[type="submit"]
{
	font-family: "Font-Bold";
}

body>nav#mainMenu
{
	top: 0;
	height: 90px;
	width: 100%;
	position: fixed;
	background-color: #FFFFFF;
	-webkit-box-shadow: -5px -5px 10px 0 rgba(0,0,0,1);
	-moz-box-shadow: -5px -5px 10px 0 rgba(0,0,0,1);
	box-shadow: -5px -5px 10px 0 rgba(0,0,0,1);
	padding: 10px 30px;
}

body>nav#mainMenu img.logo
{
	height: 70px;
}

body>nav#mainMenu li
{
	margin: 0 10px;
}

ul#listActions.borderBottom
{
	border-bottom: 1px solid #d4d4d4;
	width: calc(100% - 50px);
	margin-bottom: 30px;
	padding-bottom: 30px;
}

ul#listActions li
{
	padding: 10px;
	height: 250px;
	width: 250px;
	border-radius: 3px;
	background-color: #F0F0F0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin: 25px;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

ul#listActions li:hover
{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

ul#listActions a
{
	height: 100%;
	width: 100%;
}

table
{
	color: #333;
	background: white;
	font-size: 12pt;
	border-collapse: collapse;
}

table thead th
{
	color: #777;
	background-color: rgba(0,0,0,.1);
}

table th,
table tr:not(.controls) td
{
	padding: .5em;
	border: 1px solid lightgrey;
	min-width: 280px;
}

table tr.controls td
{
	padding: 0;
}

table tr.controls td div.relative i
{
	top: -30px;
	font-size: 1.4rem;
}

table tr.controls td div.relative i.mdi-check
{
	right: 0px;
}

table tr.controls td div.relative i.mdi-close
{
	right: 25px;
}

table tbody tr:hover
{
	background-color: #F5F5F5
}
