html
{
	font-size: 20px;
}

body
{
	padding-top: 90px;
	font-family: "Font-Regular";
}

h1
{
	font-size: 2.25rem;
}

h2
{
	font-size: 2rem;
}

h3
{
	font-size: 1.75rem;
}

h4
{
	font-size: 1.5rem;
}

h5
{
	font-size: 1.25rem;
}

h6
{
	font-size: 1rem;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill
{
	font-size: inherit;
}

input[type="submit"], button[type="submit"]
{
	font-family: "Font-Bold";
}

body>nav#mainMenu
{
	top: 0;
	height: 90px;
	width: 100%;
	position: fixed;
	background-color: #FFFFFF;
	-webkit-box-shadow: -5px -5px 10px 0 rgba(0,0,0,1);
	-moz-box-shadow: -5px -5px 10px 0 rgba(0,0,0,1);
	box-shadow: -5px -5px 10px 0 rgba(0,0,0,1);
	padding: 10px 30px;
}

body>nav#mainMenu img.logo
{
	height: 70px;
}

body>nav#mainMenu li
{
	margin: 0 10px;
}

ul#listActions.borderBottom
{
	border-bottom: 1px solid #d4d4d4;
	width: calc(100% - 50px);
	margin-bottom: 30px;
	padding-bottom: 30px;
}

ul#listActions li
{
	padding: 10px;
	height: 250px;
	width: 250px;
	border-radius: 3px;
	background-color: #F0F0F0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin: 25px;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

ul#listActions li:hover
{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

ul#listActions a
{
	height: 100%;
	width: 100%;
}

div.dd
{
	width: max-content;
}

table
{
	color: #333;
	background: white;
	font-size: 1rem;
	border-collapse: collapse;
}

table thead th
{
	color: #777;
	background-color: rgba(0,0,0,.1);
}

table th,
table tr:not(.controls) td
{
	min-height: 45px;
	display: inline-block;
	padding: .5em;
	border-top: 0.5px solid lightgrey;
	border-right: 0.5px solid lightgrey;
	border-bottom: 0.5px solid lightgrey;
	border-left: 0.5px solid lightgrey;
	min-width: 280px;
}

table tr
{
	width: 100%;
	border-collapse: collapse;
}

table tr:not(.controls) td input
{
	color: #333;
	font-family: "Font-Regular";
	padding: .5em;
	width: 100%;
	outline: none;
	border-width: 0;
	background-color: rgba(0, 0, 0, 0);
}

table tr:not(.controls) td:hover input
{
	border-width: 0;
}

table tr.controls td
{
	padding: 0;
}

table tr.controls td div.relative i
{
	top: -30px;
	font-size: 1.4rem;
}

table tr.controls td div.relative i.mdi-check
{
	right: 0px;
}

table tr.controls td div.relative i.mdi-close
{
	right: 25px;
}

table tbody tr div.relative i
{
	top: -30px;
	right: 0;
	font-size: 1.4rem;
	transition: all 0.1s linear;
}

div.relative i:hover
{
	color: #EF0739;
	transition: all 0.1s linear;
}

table tbody tr.sortable-placeholder
{
	border-radius: 5px;
	opacity: 0.2;
}






.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; width:300px;}
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0;}

.dd-handle { display: block;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */

.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

#nestable-menu { padding: 0; margin: 20px 0; }

#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background:         linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover { background: #bbb; }
#nestable2 .dd-item > button:before { color: #fff; }

@media only screen and (min-width: 700px) {

    /*.dd { float: left; width: 48%; }*/
    .dd + .dd { margin-left: 2%; }

}

.dd-hover > .dd-handle { background: #2ea8e5 !important; }
